/*CSS document*/

.page-heading {
	text-align: center;
}

#site-title {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 36px;
	text-align: center;
}

#page-text {
	font-family: "Lucidia Sans Unicode", "Lucidia Grande", sans-serif;
	font-size: 16px;
}

#text-heading {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
}

.text-content {
	margin-left: 75px;
	margin-right: 75px;
}
